$yellow: #FFCC00;
$yellow-hovered: #F2C200;
$disabled: #F2F2F2;
$yellow-focused: #b38f00;
$grey: #E6E6E6;
$grey-hovered: #DBDBDB;
$disabled: #F2F2F2;
$grey-focused: #B3B3B3;
$color-secondary: rgba(0, 0, 0, 0.65);
$color-code-done: #00b341;
$color-code-fail: #ff3333;
$color-code-pending: #ff9a00;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$max-width: 1200px;