@import "src/resources/css/variables";

.header {
  background: #FFFFFF;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $tablet-width) {
  .header {
    padding: 10px 25px;
  }
}

@media screen and (max-width: $mobile-width) {
  .header {
    padding: 10px 15px;
  }
}


.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  display: inline-block;
  font-family: YS Text;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #7F8285;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-family: YS Text;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #7F8285;
  }
}

.header__controls {
  display: inline-block;
  margin-left: auto;
}