@import "src/resources/css/variables";

.footer {
  padding: 4px 100px;
  background: #F0F2F3;
}

@media screen and (max-width: $tablet-width) {
  .footer {
    padding: 4px 25px;
  }
}

@media screen and (max-width: $mobile-width) {
  .footer {
    padding: 8px 15px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__item {
  font-family: YS Text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06px;
  color: #7F8285;
  margin: 4px 0;
}

.footer__item_right {
  margin-left: auto;
}

.footer__link {
  text-decoration: none;
  margin-right: 12px;
}

.footer__lastlink {
  flex-grow: 1;
  margin-right: 0px;
}

.footer__link:hover {
  color: #e00000;
}