@import "src/resources/css/variables";

.controlbutton {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0px 6px;
}

.controlbutton_yellow {
  background: $yellow;
}

.controlbutton_yellow:hover {
  cursor: pointer;
  background: $yellow-hovered;
}

.controlbutton_yellow:focus {
  border: 2px solid $yellow-focused;
  outline: none;
}

.controlbutton_yellow:disabled {
  background: $disabled;
}

.controlbutton_grey {
  background: $grey;
}

.controlbutton_grey:hover {
  cursor: pointer;
  background: $grey-hovered;
}

.controlbutton_grey:focus {
  border: 2px solid $grey-focused;
  outline: none;
}

.controlbutton_grey:disabled {
  background: $disabled;
}

.controlbutton__label {
  font-family: YS Text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 277% */

  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  /* typo / --color-text */

  color: #000000;
}

.controlbutton__icon {
}